/* css file for arknight github calculator */
body{
    background-color: rgb(54, 54, 54)
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.tagMod{
    width: fit-content;
    display: inline-block;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#to-tag {
    background-color: #333;
    opacity: 0.95;
    -webkit-box-shadow: 2px 4px 3px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 4px 3px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 4px 3px 2px rgba(0,0,0,0.5);
    border-width: 0px;
    border-radius: 0px;
    font-size: 19px;
    width: 40px;
    height: 50px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}
#to-tag:hover {
    background-color: #333;
    border-color:#222;
}
.ak-back{
    background-color: #66666666;
}
.ak-mid{
    background-color: #DDDDDD99;
}
.ak-nopadding{
    padding: 0px;
}
.ak-nomargin{
    margin: 0px;
}
.ak-div{
    padding:10px;   
}

.ak-table{
    background-color: rgb(190, 190, 190,1) ; 
}
.ak-thead th {
    color: #fff;
    background-color: #1b1b1b;
    border-color: #111111;
  }
.ak-table tr{
    background-color: rgba(230, 230, 230, 0.8);
}
.ak-table tr:hover{
    background-color: rgba(215, 215, 215, 0.8);
}

.ak-table-striped tr:nth-child(odd){
    background-color: rgba(200, 200, 200, 0.8);
}
.ak-table-striped tr:hover:nth-child(even){
    background-color: rgba(200, 200, 200, 0.8);
}
.ak-c-black{
    color: #fff;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}
.ak-shadow-in{
    box-shadow: inset 0px 0px 4px 3px #55555588 , inset 2px -2px 4px 3px #55555522
}
.ak-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ak-shadow-small{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.ak-btn{
    border-radius: 0px;
}
.ak-disable{
    pointer-events: none
}
.ak-btn-header{
    font-size: 12px;
    font-weight:700;
    vertical-align: text-bottom;
    padding:0px;
    /* margin:auto; */
    padding-top:5px;
    padding-bottom:5px;
    color:#FFFFFFff;
    text-align: center;
    background: #11111199;
    border-radius: 0px;
    text-shadow: 2px 2px 2px #00000022,0px 0px 5px #00000077;
    /* box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.4); */
}
.ak-small-row{
    padding:0px;
    margin:-20;
    /* margin: auto; */
    /* max-height: 36px; */
    /* transform:scale(1,0.92  ); */
    background:#DDDDDD00;
}
.ak-shadow-smallbox{
    box-shadow: 0 -4px 8px -20px rgba(0, 0, 0, 0.4), 0 -6px 20px 0 rgba(0, 0, 0, 0.3);
    background: #11111155
}
@media screen and (max-width:768px) {
    .ak-small-row{
        text-align: center;
    }
    .ak-small-row div{
        margin: auto;
    }
    .ak-btn-header-span{
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top:1px;
        padding-bottom:1px;
    }
}
.ak-footer{
    color:#fff;
    padding-top:5px;
    margin:auto;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(42, 42, 42);
    width:100%
}
.tooltip{
    pointer-events: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ak-subtitle{
    color:white;
    position: absolute;
    margin-top:-10px;
    margin-left: -20px;
    font-size: 10px
}
.ak-subtitle2{
    color:white;
    position: absolute;
    margin-top:-17px;
    margin-left: -5px;
    font-size: 10px;
    padding:4px;
    padding-top: 1px;
    padding-bottom:1px;
    border-radius: 2px;
    /* text-shadow: 0px 0px 2px #2f2f2f ; */
    background-color: #2f2f2f;
}
.ak-title{
    color:#DDD;
    position: absolute;
    margin-top:-5px;
    margin-left: -5px;
    font-size: 14px;
    padding:4px;
    padding-top: 1px;
    padding-bottom:1px;
    border-radius: 2px;
    /* text-shadow: 0px 0px 2px #2f2f2f ; */
    background-color: #2f2f2f;
}
.ak-sm{
    margin:2px;
    padding:2px;
    border-radius: 2px;
}
.ak-rare-bg{
    background: rgb(68, 67, 67);
}
.ak-rare-1{
    background: rgb(159, 159, 159);
}
.ak-rare-2{
    background: #dbe33a;
}
.ak-rare-3{
    background: rgb(0, 178, 246);
}
.ak-rare-4{
    background: rgb(219, 202, 219);
}
.ak-rare-5{
    background: rgb(255, 206, 0);
}
.ak-card-group{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    width:200px;
}

.ak-card-group .ak-img-container{
    width: 130px;
    height: 130px;
    margin-left:0px;
    margin-top:0px;
    padding-top:12px
}
.ak-card-group .card-img-bg{
    width: 120px;
    /* height: 50px; */
}

.ak-card-group .card-img-top{
    object-fit: scale-down;
    margin:auto;
    margin-top:auto;
    height:100px;
    margin-left:-5px
}

@media screen and (max-width:768px) {
    .ak-card-group{ 
        /* flex-direction:column */
        width:150px;
    }
    .ak-card-group .card-img-top{
        object-fit: scale-down;
        margin:auto;
        margin-top:auto;
        margin-left:-5px;
        height:90px;
        width:90px;
        /* background: #555 */
        /* margin-top:-20px;
        margin-left:-50px; */
    }
    .ak-card-group .ak-card-container{
        width: 80px;
    }
    .ak-card-group .ak-img-container{
        width: 90px;
        height: 90px;
        padding-top:0px
        
    }
    .ak-card-group .card-img-bg{
        width: 80px;
        /* height: 50px; */
    }
    .ak-sm-text{
        font-size: 9px
    }
}
/* .ak-card-group>.card{
    -webkit-box-flex:1;-ms-flex:1 0 0%;flex:1 0 0%;margin-bottom:0
    
  } */