.chara-detail-container {
    width: 100%; 
    height: 500px;
    background-color: lightgrey;
}

.chara-detail-container .absolute {
    position: absolute;
}

.chara-detail-container .chara-image {
    max-height: 600px;
    margin: 0 auto;
    display: block;

}

.chara-detail-container .chara-imagescontainer {
    overflow: hidden;
    max-height: 500px;
    width: 100%;
    left: -13%;
    position: absolute;
}

.chara-detail-container .right-menu-container {
    padding: 15px;
    float: right;
    max-width: 370px;
    width: 100%;
}

.chara-detail-container .small-container {
    width: 100%;
    height: 60px;
    font-size: 1.1em;
    background-color: #4f4f4f;
    color: #999999;
    position: relative;
}
.chara-detail-container .small-container p {
    position: absolute;
    color: #636363;
    font-size: 4em;
    top: -0.1em;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
}
.chara-detail-container .small-container span {
    display: inline-block;
    padding: 14px;
    font-size: 1.2em;
    position: absolute;
    color: white;
}

.chara-detail-container .small-container button {
    position: absolute;
    top: 100%;
    line-height: 0px;
    background-color: #2f2f2f;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #999999;
    height: 20px;
    width: 100%;
    z-index: 2;
    text-align: right;
    padding-top: 0px;
}

.chara-detail-container .small-container button:hover {
    background-color: #424242;
}

.chara-detail-container .small-container .collapse, .chara-detail-container .small-container .collapsing {
    position: absolute;
    top: 100%;
    z-index: 1;
    margin-top: 10px;
    background-color: #666666;
    width: 100%;
    padding-top: 10px;
}