.slotscontainer {
	margin: auto;
	width: fit-content;
}
.charaSlot-container {
	max-width: 400px;
	height: 1000px;
	width: 400px;
	vertical-align: top;
	display: inline-block;
}

.slotscontainer .op-rarity {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 50px;
}

.slotscontainer .op-rarity i {
	filter: drop-shadow(0px 0px 4px rgb(255, 255, 255,0.8));
}

.slotscontainer .small-container {
    width: 100%;
    height: 60px;
    font-size: 1.1em;
    background-color: #4f4f4f;
    color: #999999;
    position: relative;
    margin-top: 55px;
}
.slotscontainer .btn-collapsible {
    position: absolute;
    top: 100%;
    line-height: 0px;
    background-color: #2f2f2f;
    border-radius: 0px;
    color: #999999;
    height: 20px;
    width: 100%;
    z-index: 2;
    text-align: right;
    padding-top: 0px;
}

.slotscontainer .collapse, .slotscontainer .collapsing {
    margin-top: 20px;
    margin-bottom: -20px;
}

.slotscontainer .topright {
    float: right;
    margin-top: -40px;
    width: 80px;
    position: relative;
}

.slotscontainer p.large-text {
    position: absolute;
    color: #636363;
    font-size: 4em;
    top: -0.3em;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
}

.slotscontainer span.custom-span {
    display: inline-block;
    padding: 12px;
    padding-top: 22px;
    font-size: 1em;
    position: absolute;
    color: white;
}
.slotscontainer .maxlevel > .maxleveltext {
    z-index: 1;
    position: absolute!important;
    font-size: 0.8em!important;
    left: -78px;
    top: 25px;
}
.slotscontainer .maxlevel > .leveltext {
    z-index: 1;
    font-size: 3.7em!important;
    padding: 10px!important;
    line-height: 57px;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
}
.slotscontainer .maxlevel > .ring {
    width: 85px;
    height: 85px;
    position: relative;
}
.slotscontainer .maxlevel > .ring .back {
    position: absolute;
    background-color: #636363;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border-radius: 50%;
}
.slotscontainer .maxlevel > .ring .back-centre {
    position: absolute;
    background-color: #4f4f4f;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
    border-radius: 50%;
}
.slotscontainer .tabbing-btns {
    height: 50px;
    width: 50px;
    padding: 0px;
    border: 1px solid #262626;
    color: white;
    background-color: #2f2f2f;
}
.slotscontainer .tabbing-btns.horiz-small {
    height: 30px;
    width: 80px;
    padding-top: 2px;
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
}
.slotscontainer .tabbing-btns.active {
    background-color: #4f4f4f;
    border: 1px solid #3a3a3a;
}
.stat-level-header {
    color: #ddd;
    background: #222;
    font-size: 18px;
    vertical-align: super;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 5px;
    margin-bottom: -3px;
}
.statlevelInput[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 65%;
    max-width: 180px;
    display: inline-block;
    line-height: 0px;
    height: 25px;
    margin-left: 2px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: #bbb;
    touch-action: none;
}
.statlevelInput::-moz-range-thumb {
    width: 20px;
    height: 20px;
    
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.statlevelInput::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20px;
    height: 20px;
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.stat-input {
    max-width: 60px;
}
.stat-input input {
    margin-left: 2px;
    margin-top: -2px;
    padding: 7px 2px 6px 2px;
    border-radius: 0px;
    background: #666;
    color: #ddd;
    text-align: center;
    border: 0px solid #444;
}
.statlevelcontainer table {
    width: 100%;
    margin: 10px;
}
.collapsible, .collapsing {
    padding-top: 20px;
}
.collapsible {
    background-color: #4f4f4f;
    color: white;
    margin-top: 0px!important;
}
.collapsible .stats {
    display: inline-block;
}
.collapsible .stats-l {
    display: inline-block;
    background: #333;
    min-width: 115px;
    text-align: center;
    color: #ddd;
    font-size: 13px;
    padding: 3px;
    border-radius: 2px 0px 0px 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.collapsible .stats-r {
    display: inline-block;
    background: #444444ee;
    min-width: 55px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-right: 10px; */
    border-radius: 0px 2px 2px 0px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.rangeTableContainer {
    background: #444;
    padding: 3px;
    border-radius: 2px;
    margin: auto;
    width: 100%;
    height: 100%;
}
.rangeTableContainer .rangeTable {
    margin: auto;
}
.rangeTableContainer>div {
    text-align: center;
}

.optionsContainer .form-group {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 10px;
}
.tgl-sw-light + .btn-switch {
    background: grey!important;
}

.tgl-sw-light-checked + .btn-switch {
    background: #0098DC!important;
}

.clickthrough {
	pointer-events: none;
}

