.contents .nav-tabs.active {
    border-bottom: 0px !important;
}
.contents .nav-tabs {
    border-bottom: none !important;
    margin-bottom: 1px;
}

.contents a.nav-link {
    background-color: #666666 !important;
    border-radius: 0px !important;
    color: white;
    border-color: #3a3a3a !important;
    padding: 3px 2px;
    cursor: pointer;
}

.contents a.nav-link img {
    border-bottom: 3px solid #666666;
}

.contents a.nav-link.active {
    background-color: #4f4f4f !important;
    color: white !important; 
    border-color: #3a3a3a !important;
    border-bottom: 0px !important;
}

.contents a.nav-link:hover img {
    border-bottom: 3px solid white;
}

.contents a.nav-link:active {
    border-bottom: 0px;
}


.contents{
    min-height: 200px;
    margin-top: 50px;
    color: white;
}

#addoperatorbtn {
    text-align: center; 
    width: 150px; 
    border: 4px solid grey; 
    padding: 60px; 
    color: grey; 
    margin-top: 77px;
    cursor: pointer;
    background-color: unset;
}
#addoperatorbtn:hover {
    border: 4px solid lightgrey;
    color: lightgrey;
}

.left-panel {
    width: 220px;
    padding-bottom: 20px;
}

.left-panel .subpanel {
    background-color: #4f4f4f;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.stat-level-header {
    color: #ddd;
    background: #222;
    font-size: 18px;
    vertical-align: super;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -3px;
}
.statlevelInput[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    max-width: 180px;
    display: inline-block;
    line-height: 0px;
    height: 25px;
    margin-left: 2px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: #bbb;
    touch-action: none;
}
.statlevelInput::-moz-range-thumb {
    width: 20px;
    height: 20px;
    
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.statlevelInput::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20px;
    height: 20px;
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.stat-input {
    max-width: 45px;
}
.stat-input input {
    margin-left: 2px;
    margin-top: -2px;
    padding: 7px 2px 6px 2px;
    border-radius: 0px;
    background: #666;
    color: #ddd;
    text-align: center;
    border: 0px solid #444;
}

.right-panel {
    width: 60vw;
    padding-left: 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.right-panel::-webkit-scrollbar {
    display: none;
}

.right-panel.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.filters-panel {
    background-color: #222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 250px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px;
}

.attributes-panel {
    margin-bottom: 20px;
}

.skill-panel {
}

.lp-row {
    background-color: #2f2f2f;
    margin-top: 7px;
    padding: 3px 6px;
    display: block;
    text-align: center;
    width: 100%;
}

.lp-row.light {
    background-color: #666;
}

.opcontainer {
    min-width: 165px;
    height: 94.5%;
    display: inline-block;
    background-color: #4f4f4f;
    border-radius: 3px;
    margin-top: 5px;
    vertical-align: top;
    margin-right: 5px;
}

.opname {
    padding: 0px 10px;
    margin-top: 40px;
    font-size: 1.4em;
}

.opimage {
    background-color: grey; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    width: 150px;
    margin: 5px;
}

.selectop-list {
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    background-color: #666666;
}

.selectop-list:hover {
    cursor: pointer;
    background-color: unset;
}

.selectop-list:active {
    box-shadow: unset;
}

.selectop-list img {
    min-height: 100%;
    min-width: 48%;
    margin-top: -33%;
}

.selectop-list .name {
    position: absolute;
    left: 50%;
    top: 0px;
    font-size: 1.6em;
}

.selectop-list .rarity {
    position: absolute;
    left: 77%;
    font-size: 0.9em;
    top: 55%;
}

.selectop-grid {
    display: inline-grid;
    height: 113px;
    width: 88px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    background-color: #666666;
    color: white;
    transition-duration: 200ms;
}

.selectop-grid:hover {
    cursor: pointer;
    background-color: unset;
    transition-duration: 200ms;
    box-shadow: 2px 2px 8px #111;
    z-index: 100;
    transform: scale(1.1) ;
}

.selectop-grid img {
    box-shadow: 2px 0px 3px #111;
    width: 88px;
    height: 88px;
    transition-duration: 200ms;
    background-color: #555555;
}
.selectop-grid:hover img {
    transition-duration: 200ms;
    background-color: #222222;
}

.selectop-grid .name {
    top: 0px;
    font-size: 0.8em;
}
.selectop-grid .rarity {
    box-shadow: 1px 1px 2px #111;
}

.selectop-grid .ak-showclass {
    position: absolute;
    top: 20px;
    left: 0px;
}
.selectop-grid .ak-showclass img {
    width: 20px;
    height: 20px;
    background: rgba(17, 17, 17, 0.856);
}
.selectop-grid .ak-showclass img:hover {
    width: 40px;
    height: 40px;
    background: rgb(17, 17, 17);
}

.selectop-grid .ak-showfaction {
    position: absolute;
    top: 0px;
    left: 0px;
}
.selectop-grid .ak-showfaction img {
    width: 20px;
    height: 20px;
    background: rgba(17, 17, 17, 0.856);
}
.selectop-grid .ak-showfaction img:hover {
    width: 40px;
    height: 40px;
    background: rgb(17, 17, 17);
}

.btn-switch {
    height: 25px !important;
}

.btn-switch::before, .btn-switch::after {
    line-height: 1.6em !important;
}

.separator {
    background-color: #2f2f2f;
    height: 3px;
    margin: 10px 0px;
}

@media screen and (max-width:600px){
    .left-panel {
        width: 155px;
    }
    .right-panel {
        overflow-x: scroll;
    }
    .levelSlider {
        max-width: 87px;
    }
    .levelDisplay {
        min-width: unset !important;
    }
    .opcontainer {
        min-width: 150px;
    }
}