body {
    overflow: unset;
}

.clickthrough {
    pointer-events: none;
}

.notclickthrough {
    pointer-events: all;
}

.max-height {
    height: 100%;
}
#lefthandtoggle{
    display: none;
}
.rangeTableContainer {
    background:#444;
    padding: 3px;
    border-radius: 2px;
    margin: auto;
    width: fit-content;
}

.rangeTableContainer>div {
    text-align: center;
}

.rangeTableContainer .rangeTable {
    margin: auto;
}

.collapsible, .collapsing {
    padding-top: 20px;
}

.chara-detail-container {
    width: 100%; 
    height: 100vw;
    max-height: 700px;
    background-color: rgb(54, 54, 54);
    margin-top: 0px;
}

.chara-detail-container .background {
    height: 100%;
    max-height: 700px;
    margin: 0 auto;
    display: block;
    position: absolute;
}

.chara-detail-container .faction {
    height: 100%;
    max-height: 200px;
    margin-left: 15px;
    display: block;
    position: absolute;
    top: -10px;
    filter:drop-shadow(0px 0px 4px rgb(0, 0, 0));
}


.chara-detail-container .absolute {
    position: absolute;
    height: 100%;
    padding: unset;
    left: 0;
    max-height: 700px;
}

.chara-detail-container .chara-image {
    height: auto;
    width: auto;
    max-height: 700px;
    max-width: 100vw;
    margin: 0 auto;
    display: block;

}

.chara-detail-container .chara-imagescontainer {
    overflow: hidden;
    width: 120%;
    left: -25%;
    position: absolute;
}

.chara-detail-container .right-menu-container {
    padding: 8px;
    padding-top:15px;
    float: right;
    max-width: 400px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-menu-container .elitesection-container {
    margin-bottom: 50px;
}

.right-menu-container .collapse, .right-menu-container .collapsing {
    margin-top: 20px;
    margin-bottom: -20px;
}

.right-menu-container .tab-pane.container {
    max-width: unset;
}

.chara-detail-container .small-container {
    width: 100%;
    height: 60px;
    font-size: 1.1em;
    background-color: #4f4f4f;
    color: #999999;
    position: relative;
    margin-top: 55px;
}
.chara-detail-container .tab-content .small-container p, #skill-contents p {
    position: absolute;
    color: #636363;
    font-size: 4em;
    top: -0.3em;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
}
.chara-detail-container .tab-content .small-container span, #skill-contents span {
    display: inline-block;
    padding: 12px;
    padding-top:22px;
    
    font-size: 1em;
    position: absolute;
    color: white;
}

.chara-detail-container .small-container .topright, #skill-contents .topright {
    float: right; 
    margin-top: -40px;
    width: 80px;
    position: relative;
}

.chara-detail-container .small-container .maxlevel > .ring {
    width: 85px;
    height: 85px;
    position: relative;
}

.chara-detail-container .small-container .maxlevel > .ring .back {
    position: absolute;
    background-color: #636363;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border-radius: 50%;
}

.chara-detail-container .small-container .maxlevel > .ring .back-centre {
    position: absolute;
    background-color: #4f4f4f;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
    border-radius: 50%;
}

.chara-detail-container .small-container .maxlevel > .maxleveltext {
    z-index: 1;
    position: absolute;
    font-size: 0.8em;
    left: -78px;
    top: 25px;
}

.chara-detail-container .small-container .maxlevel > .leveltext {
    z-index: 1;
    font-size: 3.7em;
    padding: 10px;
    line-height: 57px;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
}

.chara-detail-container .small-container .btn-collapsible {
    position: absolute;
    top: 100%;
    line-height: 0px;
    background-color: #2f2f2f;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #999999;
    height: 20px;
    width: 100%;
    z-index: 2;
    text-align: right;
    padding-top: 0px;
}

.chara-detail-container .small-container .btn-collapsible:hover {
    background-color: #424242;
}

.chara-detail-container .small-container .collapse, .chara-detail-container .small-container .collapsing {
    position: absolute;
    top: 100%;
    z-index: 1;
    margin-top: 10px;
    background-color: #666666;
    width: 100%;
    padding-top: 10px;
}

.chara-detail-container .elite-sidenav {
    max-width: 80px;
    margin-top: 250px;
    margin-left: 20px;
    display: inline-block;
    height: 100%;
}

.chara-detail-container .tabbing-btns {
    height: 50px;
    width: 50px;
    padding: 0px;
    border: 1px solid #262626;
    color: white;
    background-color: #2f2f2f;
}


#skill-tabs .skillname {
    line-height: 22px;
    padding: 10px;
    max-width: 255px;
}

#skill-tabs, #elite-topnav {
    position: absolute;
    top: -30px;
}

.chara-detail-container .tabbing-btns.horiz {
    height: 50px;
    width: 100px;
}

.chara-detail-container .tabbing-btns.horiz-small {
    height: 30px;
    width: 80px;
    padding-top: 2px;
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
}

.chara-detail-container .tabbing-btns.active {
    background-color: #4f4f4f;
    border: 1px solid #3a3a3a; 
}

.chara-detail-container .tabbing-btns:hover {
    background-color: #666666;
}

.chara-detail-container .tabbing-btns:hover:focus {
    background-color: #4f4f4f;
}

.chara-detail-container .tabbing-btns-top {
    border-radius: 5px 5px 0px 0px;
}

.chara-detail-container .tabbing-btns-left {
    border-radius: 5px 0px 0px 5px;
}

.chara-detail-container .tabbing-btns-middle {
    border-radius: 0px;
}

.chara-detail-container .tabbing-btns-right {
    border-radius: 0px 5px 5px 0px;
}

.chara-detail-container .tabbing-btns-bottom {
    border-radius: 0px 0px 5px 5px;
}

.chara-detail-container .tab-pane {
    padding: unset;
}

.general-stats-container {
    position: absolute;
    height: auto!important;
}

.general-stats-container p {
    position: initial;
    font-size: 1em;
    top: 0;
    color: white;
    font-family: 'NotoSansHans Light', Arial, sans-serif;
}

.general-stats-container .topright {
    position: absolute!important;
    right: 0px;
    top: 0px;
}

.general-stats-container .op-name {
    top: -60px;
    left: 0px;
}

.general-stats-container .op-name, .general-stats-container .op-name span {
    display: inline-block;
    padding: 14px;
    padding-bottom:55px;
    font-size: 1.2em;
    position: absolute;
    color: white;
}

.general-statcard {
    padding: 15px;
    font-size: 0.9em;
}

#skill-contents .skillstats {
    display: none;
}
#skill-contents .skillstats.active {
    display: block;
    min-height:250px;
}
#skill-contents .skillstats .skilldesc {
    min-width: 330px;
    border-radius: 2px;
    padding:5px;
    width: 100%;
    background:#444444;
}


.skillsection-container .collapsible {
    padding: 20px 5px 5px 10px;
}

.collapsible {
    background-color: #4f4f4f;
    color: white;
    margin-top: 0px!important;
}


.skillLevelInput[type="range"]{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 65%;
    display: inline-block;
    line-height: 0px;
    
    height: 25px;
    margin-left: 10px ;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    background: #bbb;
    touch-action: none;
}
.skillLevelInput:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.skillLevelInput::-moz-range-thumb {
    width: 20px;
    height: 20px;
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.skillLevelInput::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20px;
    height: 20px;
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
  }

.skillleveldisplaycontainer {
    display: inline-block;
}
.akrankmastery{
    display:inline-block;
}

.skillleveldisplaycontainer span {
    position: initial!important;
    padding-top:10px !important;
    margin-top:-17px;
    padding: 0px!important;
    min-height:45px;
}

.collapsible .tabbing-btns {
    padding: 5px 0px;
    height: 35px!important;
    margin: 8px;
}

.collapsible .tab-pane {
    padding-bottom: 10px;
}

.collapsible table {
    margin: 10px;
    width: 90%;
}

.collapsible .stats-l {
    text-align: right;
}

.collapsible .stats-r {
    text-align: center;
}

.text-shadow {
    text-shadow: 1px 1px 2px #2f2f2f;
}

#op-rarity i {
    padding: 0px 2px;
}

.op-rarity-1 i {
    color: #e2e2e2;
}

.op-rarity-2 i {
    color: #DCE437;
}

.op-rarity-3 i {
    color: #00B3FD;
}

.op-rarity-4 i {
    color: #B9BCD9;
}

.op-rarity-5 i {
    color: #ECD799;
}

.op-rarity-6 i {
    color: #EEBB38;
}

.spType-1{
    color:#111;
    background:rgb(135, 187, 24);
}
.spType-2{
    color:#111;
    background:rgb(242, 118, 58);
}
.spType-4{
    color:#111;
    background:#F49800;
}
.spType-8{
    background:#555;
}

.stat-important{
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px; 
    background: #373737;
    display: inline-block;
    color:#00B3FD;
}

#op-nameTL, #op-nameREG{
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
    position: initial;
    padding: unset;
}
#op-nameRead{
    position:absolute;
    font-size: 0.6em;
    font-family: 'Novecentosanswide Normal', Arial, sans-serif;
    bottom:-1px;
    left:15px;
}

#op-nameREG {
    font-size: 1em;
}

#op-taglist li {
    display: inline-block;
    margin: 0px 5px;
}
@media (max-width: 1220px ){
    .chara-detail-container {
        margin-top: 0px;
    }
}

.chara-footer-1{
    display:unset;
}
.chara-footer-2{
    display:none;
}

.addinfo-nav {
    position:absolute;
    left:40px;
    bottom:20px
}
.btn-infoleft {
    display: inline-block;
    background: #111;
    min-width: 80px;
    text-align: center;
    color:#ddd;
    font-size: 13px;
    padding:3px;
    border-radius: 2px 0px 0px 2px;
    margin-bottom:4x;
    /* margin-left: */
}
.btn-inforight {
    display: inline-block;
    background: #111111ee;
    min-width: 100px;
    text-align: center;
    color:#ffffff;
    font-size: 13px;
    padding:3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    border-radius: 0px 2px 2px 0px;
    margin-bottom:4x;
}
.story-content{
    color:#ddd;
}
.story-table{
    /* background: #222; */
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    padding:4px;
    border-spacing: 5px;
    width:100%;
    height:100%;
    margin-bottom:20px;
}
.story-table th{
    padding:4px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    height:25px;
    background: #333;
    border-bottom: 1px solid #555;
}
.story-table tr td{
    background: #333;
    /* border: 1px solid #222; */
    padding:2px;
    padding-left: 10px;
    padding-right: 10px;
}
.story-table tr td:nth-child(2){
    background: #383838;
}
.btn-story-header{
    color:#ddd;
    font-size:11px;
    margin-top:-9px;
    width:100%;
    text-align:center;
    background:#222222dd;
    border-radius:0px 0px 4px 4px
}
.top-buffer { margin-top:20px; }
@media (max-width: 700px ){
    .addinfo-nav {
        bottom:0px
    }
    .chara-footer-1{
        display:none;
    }
    .chara-footer-2{
        display:unset;
    }
    .chara-detail-container .elite-sidenav {
        margin-top: 40vw;
        /* margin-left: 20px; */
        max-width:40px;
        display: inline-block;
        margin-bottom: 100px;
        /* height: 100%; */
    }
    
    .chara-detail-container .tabbing-btns {
        height: 50px;
        width: 40px;
        /* padding: 10px 0px; */
    }
    #skill-contents .skillstats .skilldesc {
        min-width: 150px;
        border-radius: 2px;
        padding:5px;
        padding-right: 20px !important;
        width: 100%;
        background:#444444;
    }
    .chara-detail-container .faction {
        height: 100%;
        max-height: 150px;
        margin-left: 15px;
        top: 0px;
    }
    #lefthandtoggle{
        display:unset;
    }
    .chara-detail-container .right-menu-container {
        padding-top:50px;
        max-width: 100vw;
        overflow: visible;
    }

    .chara-detail-container .chara-imagescontainer {
        overflow: hidden;
        position: absolute;
        top:12vw;
        margin-left:20%;
        /* box-align: center; */
    }

    .chara-detail-container .chara-image {
        height: auto;
        width: auto;
        max-height: 700px;
        max-width: 90vw;
        display: block;
        /* margin-left:30%; */
    }


    .left-hand{
        margin-left:40px !important;
    }

    .lefthandskillleveldisplaycontainer{
        position: absolute;
        vertical-align: top;
        top:100px;
        left: 0px !important;
    }

    .collapsible .lefthandskillLevelInput {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        position: absolute;
        left: -74px !important;
        top:220px;
        width: 170px;
        display: inline-block;
        line-height: 0px;
        z-index:2;
        opacity: 0.7; 
        -webkit-transition: .2s; 
        transition: opacity .2s;
        background: #eee;
        transform: rotate(-90deg)
    }


    #operatorsResult img {
        height: 70px!important;
    }
    .collapsible .skillLevelInput {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        position: absolute;
        right: -64px !important;
        top:220px;
        width: 170px;
        display: inline-block;
        line-height: 0px;
        z-index:2;
        opacity: 0.7; 
        -webkit-transition: .2s; 
        transition: opacity .2s;
        background: #eee;
        transform: rotate(-90deg)
    }
    .skillleveldisplaycontainer{
        position: absolute;
        vertical-align: top;
        top:100px;
        right: 0px !important;
    }
    .akrankmastery{
        display:block
    }
}