.ak-container {
    width: 350px;
    background-color: #4f4f4f;
}


.stat-level-header {
    color: #ddd;
    background: #222;
    font-size: 18px;
    vertical-align: super;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -3px;
}
.statlevelInput[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    line-height: 0px;
    height: 25px;
    margin-left: 2px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: #bbb;
    touch-action: none;
}
.statlevelInput::-moz-range-thumb {
    width: 20px;
    height: 20px;
    
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.statlevelInput::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20px;
    height: 20px;
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 2px solid #bbb;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.stat-input {
    max-width: 45px;
}
.stat-input input {
    margin-left: 2px;
    margin-top: -2px;
    padding: 7px 2px 6px 2px;
    border-radius: 0px;
    background: #666;
    color: #ddd;
    text-align: center;
    border: 0px solid #444;
}