a {
    cursor: pointer;
}

.ak-container {
    width: 350px;
    background-color: #4f4f4f;
    color: white;
    height: fit-content;
}

.op-image img {
    width: 110px;
    background-color: grey;
    margin: 10px;
    margin-bottom: 0px;
}

.op-desc {
    display: inline-block;
    font-size: 0.9em;
}
.op-desc .nav-link {
    padding: 5px 10px;
    border: 1px solid grey;
}
.op-desc .nav-link.active {
    border: 1px solid #4f4f4f!important;
}
.op-desc .nav-item {
    margin-right: 2px;
}

#opname {
    font-size: 1.4em;
}

.ak-header {
    border-bottom: 2px solid grey;
    text-align: center;
    background-color: #333;
    margin-top: 15px;
    margin-bottom: 5px;
}

.ak-stats {
    width: 50%;
}

.ak-stats-l {
    display: inline-block;
    background: #333;
    text-align: center;
    color: #ddd;
    font-size: 13px;
    padding: 3px;
    border-radius: 2px 0px 0px 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: -5px;
    width: 60%;
}

.ak-stats-r {
    display: inline-block;
    background: #444444;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-right: 10px; */
    border-radius: 0px 2px 2px 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 40%;
}
.ak-stats-r div {
    display: inline-block;
}

.stat-level-header {
    color: #ddd;
    background: #222;
    font-size: 18px;
    vertical-align: super;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -3px;
}
.statlevelInput[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    line-height: 0px;
    height: 26px;
    margin-left: 2px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: #bbb;
    touch-action: none;
}
.statlevelInput::-moz-range-thumb {
    width: 20px;
    height: 30px;
    
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 1px solid #ddd;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.statlevelInput::-webkit-slider-thumb {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20px;
    height: 30px;
    /* margin-bottom: 10px; */
    /* padding-bottom:20px; */
    border: 1px solid #ddd;
    border-radius: 0px;
    background: #2f2f2f;
    cursor: pointer;
    touch-action: none;
}
.stat-input {
    max-width: 45px;
}
.stat-input input {
    margin-left: 2px;
    margin-top: -2px;
    padding: 7px 2px 6px 2px;
    border-radius: 0px;
    background: #666;
    color: #ddd;
    text-align: center;
    border: 0px solid #444;
}


.selectop-grid {
    display: inline-grid;
    width: 88px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    background-color: #666666;
    color: white;
    transition-duration: 200ms;
}

.selectop-grid:hover {
    cursor: pointer;
    background-color: unset;
    transition-duration: 200ms;
    box-shadow: 2px 2px 8px #111;
    z-index: 100;
    transform: scale(1.1) ;
}

.selectop-grid img {
    box-shadow: 2px 0px 3px #111;
    width: 88px;
    height: 88px;
    transition-duration: 200ms;
    background-color: #555555;
}
.selectop-grid:hover img {
    transition-duration: 200ms;
    background-color: #222222;
}

.selectop-grid .name {
    top: 0px;
    font-size: 0.8em;
}
.selectop-grid .rarity {
    box-shadow: 1px 1px 2px #111;
}

.selectop-grid .ak-showclass {
    position: absolute;
    top: 20px;
    left: 0px;
}
.selectop-grid .ak-showclass img {
    width: 20px;
    height: 20px;
    background: rgba(17, 17, 17, 0.856);
}
.selectop-grid .ak-showclass img:hover {
    width: 40px;
    height: 40px;
    background: rgb(17, 17, 17);
}

.selectop-grid .ak-showfaction {
    position: absolute;
    top: 0px;
    left: 0px;
}
.selectop-grid .ak-showfaction img {
    width: 20px;
    height: 20px;
    background: rgba(17, 17, 17, 0.856);
}
.selectop-grid .ak-showfaction img:hover {
    width: 40px;
    height: 40px;
    background: rgb(17, 17, 17);
}

.modal .nav-tabs.active {
    border-bottom: 0px !important;
}
.modal .nav-tabs {
    border-bottom: none !important;
    margin-bottom: 1px;
}

.modal a.nav-link {
    background-color: #666666 !important;
    border-radius: 0px !important;
    color: white;
    border-color: #3a3a3a !important;
    padding: 3px 2px;
    cursor: pointer;
}

.modal a.nav-link img {
    border-bottom: 3px solid #666666;
}

.modal a.nav-link.active {
    background-color: #4f4f4f !important;
    color: white !important; 
    border-color: #3a3a3a !important;
    border-bottom: 0px !important;
}

.modal a.nav-link:hover img {
    border-bottom: 3px solid white;
}

.modal a.nav-link:active {
    border-bottom: 0px;
}