#eliteReqMats .dropdown-item:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.reqmats-container li {
    display: inline-block; 
    list-style-type: none; 
    background-color: rgb(32, 32, 32); 
    border-radius: 4px; 
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 3px;
    padding: 0px 4px;
    /* border-top-left-radius: 0px; */
}
#floating-reqmats-arrow {
    position: relative;
    background-color: #444;
}

#floating-reqmats-arrow::before, #floating-reqmats-arrow::after {
    top: -2px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
#floating-reqmats-arrow::before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 13px;
    margin-left: -13px;
}
#floating-reqmats-arrow::after {
    border-color: rgba(68, 68, 68, 0);
    border-top-color: #555;
    border-width: 10px;
    margin-left: -10px;
}

.requiremats-box{
    background-color: rgb(56, 56, 56); 
    padding:5px;
    margin-top: 12px;
    margin-bottom: 5px;
    text-align: center;
}
.requiremats-box p{
    background-color: rgb(24, 24, 24); 
    margin: 0px -6px;
    margin-top: -6px;
    text-align: center;
    border-radius: 2px;
}

#akevolve{
    background: #555 ;
    padding:2px 6px;
    border-radius: 2px;
}

.ak-btn-wide{
    width: 100%;
}
.ak-elite-browse{
    width:250%;
    font-size:13px
}
.ak-browse{
    width:100%;
    font-size:13px
}
.table td{
    vertical-align: middle;
}
.mat-col1{
    vertical-align:middle; 
    text-align: center; 
    width: 120px; 
    padding-left: 30px;
    background: #222;
    box-shadow: inset 0px 4px 0px 0px #333;
}
.mat-col2{
    display:flex;
    align-items: center;
    min-width:120px;
    padding: 10px;
    text-align: center; 
    width: 120px; 
    background: #222;
    box-shadow: inset 0px 4px 0px 0px #333;
}
.mat-col3{
    width: 100%;
    display: inline-flex;
    padding: 10px;
    text-align: center; 
    background: #222;
    box-shadow: inset 0px 4px 0px 0px #333;
    flex-wrap: wrap;
}
.mat-row1{
    display: inline-flex;
    background: #1D1D1D;
    min-height: 137px;
    /* width: 100%; */
    /* box-shadow: inset 0px 4px 0px 0px #333; */
}
.mat-row{
    background: #1D1D1D;
}
.mat-box{
    display: flex;
    flex-direction: column;
    margin:0px !important;
    padding:0px  !important;
}

.mat-arrow{
    
    vertical-align:middle; 
    text-align: center; 
    min-width: 80px;
    width:80px;
    /* padding-bottom: 30px;  */
    /* border-right: 5px solid darkgrey !important;  */
    /* margin-bottom: 20px; */
    /* padding-top: 42px !important; */
    background: #111;
    box-shadow: inset 0px 4px 0px 0px #333;
}
.mat-arrow div{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width:768px) {
    .ak-table{
        width:100vw
    }
    .ak-browse{
        width:100%;
        font-size:12px
    }
    .ak-elite-browse{
        width:100%;
        font-size:12px
    }
    .mat-col1{
        width: 90px; 
        padding: 2px 2px !important;
    }
    .mat-col1 .akmat-container{
        
        margin-right: 8px ;
        /* margin-top: 8px ; */
    }
    .mat-arrow{
        padding:2px 0px !important;
        /* padding-top: 42px !important; */
        min-width: 35px;
    }
    .mat-arrow img{
        width:20px;
        height:50px;
    }
    .mat-col2{
        padding:2px;
        min-width: unset;
        width: auto;
    }
    .mat-col2 .akmat-container{
        margin-left:7px;
        margin-right: 8px ;
        margin-top: 27px ;
    }
    /* .reqmats-container .item-name {
        font-size: 0.7em;
    }
    .reqmats-container.smallcontainer .item-name {
        font-size: 0.7em;
    }
    .reqmats-container .item-amount {
        font-size: 1em;
    }
    
    .reqmats-container.smallcontainer .item-amount {
        font-size: 1em;
    }
    .reqmats-container.smallcontainer .item-image > img {
        max-width: 80px;
        max-height: 90px;
    }
    
    .reqmats-container li .item-rarity {
        width: 90px;
        left: 0;
        position: absolute;
    }
    .reqmats-container .item-image > img {
        vertical-align: middle; 
        max-width: 80px;
        max-height: 90px;
        width: auto;
        height: auto;
    }
    .reqmats-container .internal-container {
        height: 90px;
        width: 90px;
    }
    .reqmats-container.smallcontainer .item-rarity {
        width: 90px;
    }
    .reqmats-container.smallcontainer .internal-container {
        height: 90px;
        width: 90px;
    } */
    #operatorsResult img {
        height: 70px!important;
    }
}

