#eliteReqMats .dropdown-item:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.reqmats-container {
    margin-top: 10px;
}

.reqmats-container li {
    display: inline-block; 
    list-style-type: none; 
    background-color: white; 
    border-radius: 5px; 
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.reqmats-container .item-name {
    position: absolute; 
    top: -18px; 
    left: 0px;
    padding: 0 7px;
    background-color: white;
    border-radius: 5px;
    max-width: 150px;
}

.reqmats-container .item-amount {
    background-color: lightgrey;
    border-radius: 6px;
    padding: 0px 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 1.4em;
}

.reqmats-container .item-image {
    position: absolute; 
    width: 100%; 
    height: 100%;
    text-align: center;
}

.reqmats-container .item-image span {
    display: inline-block; height: 100%; vertical-align: middle;
}

.reqmats-container .item-image > img {
    vertical-align: middle; 
    max-width: 110px;
    max-height: 150px;
    width: auto;
    height: auto;
}