#eliteReqMats .dropdown-item:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.reqmats-container {
    margin-top: 10px;
}

.reqmats-container li {
    display: inline-block; 
    list-style-type: none; 
    background-color: rgb(68, 67, 67); 
    border-radius: 5px; 
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-top-left-radius: 0px;
}

.reqmats-container .item-name {
    color:#DDD;
    position: absolute;
    white-space: nowrap;
    margin-top:-5px;
    margin-left: -5px;
    font-size: 14px;
    padding:4px;
    padding-top: 1px;
    padding-bottom:1px;
    border-radius: 2px;
    /* text-shadow: 0px 0px 2px #2f2f2f ; */
    background-color: #2f2f2f;
    z-index: 2;
}

.ak-btn-wide{
    width: 100%;
}

.reqmats-container.smallcontainer .item-name {
    color:#DDD;
    position: absolute;
    white-space: nowrap;
    margin-top:-5px;
    margin-left: -5px;
    font-size: 14px;
    padding:4px;
    padding-top: 1px;
    padding-bottom:1px;
    border-radius: 2px;
    /* text-shadow: 0px 0px 2px #2f2f2f ; */
    background-color: #2f2f2f;
    z-index: 2;
}

.reqmats-container .item-amount {
    color:#ddd;
    background-color: #111;
    border-radius: 6px;
    padding: 0px 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 1.2em;
    z-index: 2;
}

.reqmats-container.smallcontainer .item-amount {
    font-size: 1.2em;
    z-index: 2;
}

.reqmats-container .item-image {
    position: absolute; 
    width: 100%; 
    height: 100%;
    text-align: center;
    z-index: 1;
}

.reqmats-container .item-image span {
    display: inline-block; height: 100%; vertical-align: middle;
}

.reqmats-container .item-image > img {
    vertical-align: middle; 
    max-width: 120px;
    max-height: 140px;
    width: auto;
    height: auto;
}

.reqmats-container.smallcontainer .item-image > img {
    max-width: 110px;
    max-height: 130px;
}

.reqmats-container li .item-rarity {
    width: 140px;
    left: 0;
    position: absolute;
}

.reqmats-container.smallcontainer .item-rarity {
    width: 130px;
}

.reqmats-container .internal-container {
    height: 140px;
    width: 140px;
}

.reqmats-container.smallcontainer .internal-container {
    height: 130px;
    width: 130px;
}

.ak-elite-browse{
    width:250%;
    font-size:13px
}
.ak-browse{
    width:100%;
    font-size:13px
}

@media screen and (max-width:768px) {
    .ak-browse{
        width:100%;
        font-size:12px
    }
    .ak-elite-browse{
        width:100%;
        font-size:12px
    }
    .reqmats-container .item-name {
        font-size: 0.7em;
    }
    .reqmats-container.smallcontainer .item-name {
        font-size: 0.7em;
    }
    .reqmats-container .item-amount {
        font-size: 1em;
    }
    
    .reqmats-container.smallcontainer .item-amount {
        font-size: 1em;
    }
    .reqmats-container.smallcontainer .item-image > img {
        max-width: 80px;
        max-height: 90px;
    }
    
    .reqmats-container li .item-rarity {
        width: 90px;
        left: 0;
        position: absolute;
    }
    .reqmats-container .item-image > img {
        vertical-align: middle; 
        max-width: 80px;
        max-height: 90px;
        width: auto;
        height: auto;
    }
    .reqmats-container .internal-container {
        height: 90px;
        width: 90px;
    }
    .reqmats-container.smallcontainer .item-rarity {
        width: 90px;
    }
    .reqmats-container.smallcontainer .internal-container {
        height: 90px;
        width: 90px;
    }
}

