/* css file for arknight github calculator */

#story{
    width:100%;
    text-align:center;
}
.storyimagecontainer{
    width:100%;
    text-align:center;
}
.storyimagecontainer img{
    max-width:600px;
    width:100%;
}
#spine-toolbar{
    left: initial !important;
}
.spine-danger{
    padding: 2px 4px;
    border-radius: 0px;
    margin-left: 40px;
}
@media screen and (max-width:768px) {
    .storyimagecontainer{
        width:100%;
    }
}
