.ak-header {
	color: white;
	font-size: 1.5em;
	margin: 10px 0px;
}

.ak-separator {
	width: 100%;
	border-bottom: 3px solid #2a2a2a;
	margin-bottom: 10px;
}

.featurebtn-container {
	border-radius: 5px;
	background-color: #0098DC;
	width: 99%;
	height: 150px;
	position: relative;
	margin-bottom: 30px;
	margin-top: 20px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featurebtn-button {
	position: absolute;
	background-color: #2a2a2a;
	border-radius: 5px;
	width: 101%;
	height: 150px;
	transition: width 0.5s;
	cursor: pointer;
}

.featurebtn-button:hover,.featurebtn-container:hover .featurebtn-button {
	width: 93%;
	box-shadow: 0 4px 8px 0 rgba(0, 152, 220, 0.2), 0 6px 20px 0 rgba(0, 152, 220, 0.19);
}

.featurebtn-button:hover img {
	filter: brightness(100%);
}

.featurebtn-button>img {
	max-height: 150px;
	min-height: 150px;
	width: 62%;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	filter: brightness(50%);
}

.featurebtn-info {
	display: inline-block;
	width: 37%;
	color: white;
	vertical-align: top;
	padding: 10px;
}

.featurebtn-open {
	height: 100%;
	float: right;
}

.featurebtn-open div {
	line-height: 150px;
	color: white;
	font-size: 1.4em;
	padding: 0px 10px;
}