#tbody-list{
    background: #555;
}
.riicbody {
    display: inline-flex;
    padding:0px 0px;
    margin:6px 0px;
    background:#333333;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
}

.ak-riic-meet-clue{
    padding:1px;
    padding-left:3px;
    padding-right:3px;
    border-color: #BBB;
    background: #222
}

.riic-avatar{
    display: flex;
    background: #222;
    align-self: stretch;
    vertical-align: middle;
    
}
.riic-avatar2{
    /* box-shadow: 0px 0px 3px 0px #000; */
    text-align: center;
    align-self: center;
    margin: 2px 2px;
}
.riic-pic{
    box-shadow: 0px 2px 3px #111;
    width: 120px;
}
.riic-name{
    margin:auto;
    background: #444;

}

.riic-desc{
    display: flex;
    background: #2a2a2a;
    padding:0px 0px 0px 5px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%
}

.riic-tab{
    background: #222;
    display: flex;
    flex:1;
    flex-direction: row;
}

.riic-icon{
    display: flex;
    flex-direction: column;
    padding:2px 2px;
}

.riic-eachdesc{
    display: flex;
    flex-direction: column;
    flex-basis: 100%
}

.riic-desc-title{
    display: inline-flex;
    padding:5px;
    background:#222;
    align-self: stretch;
    color:#bbb
}
.riic-desc-desc{
    background-color: #2f2f2f;
    padding:5px;
    padding-left:20px;
    flex-basis: 100%;
    font-size: 15px;
}

.riic-clue{
    background:#000;
    align-self: stretch;
    margin: 2px;
    padding-top:4px;
    font-size: 30px;
    text-align: center;
    height: 60px;
    vertical-align: middle;
    /* border: solid 3px  #777; */
}

.riic-type{
    padding: 0px;
    margin:0px 4px;
    padding-top: 2px;
    text-align: left;
    vertical-align: bottom;
    font-size: 11px;
    width:90px;
    font-weight: bold;
}

.riic-req{
    display: inline-flex;
    color:#999;
    height:25px;
    padding:2px 6px 2px 6px;
    margin:0px 6px 0px 0px;
    text-align: center;
    background:#111;
    border-radius: 2px;
}

/* .riic-color-control-sub{
    background: #242e2d;
}
.riic-color-power-sub{
    background: #2e3321;
}
.riic-color-manufacture-sub{
    background: #2b281b;
}
.riic-color-trading-sub{
    background: #2a3236;
}
.riic-color-workshop-sub{
    background:#2f2f23 ;
}
.riic-color-training-sub{
    background: #382f31;
}
.riic-color-dormitory-sub{
    background: #1f2727;
}
.riic-color-hire-sub{
    background: #363636;
}
.riic-color-meeting-sub{
    background:#2c2422 ;
} */

.riic-color-control{
    background: #0d1312;
}
.riic-color-power{
    background: #1d2014;
}
.riic-color-manufacture{
    background: #1b1a11;
}
.riic-color-trading{
    background: #171f22;
}
.riic-color-workshop{
    background:#181812 ;
}
.riic-color-training{
    background: #1f1618;
}
.riic-color-dormitory{
    background: #142020;
}
.riic-color-hire{
    background: #1a1a1a;
}
.riic-color-meeting{
    background:#1d1715 ;
}

@media (max-width:768px) {
    
    .riic-pic{
        width: 80px;
    }
}
@media (max-width:500px) {
    .riic-avatar{
        width: 100%;
        justify-content: center;
    }
    .riic-avatar2{
        width: 50%;
    }
    .riic-pic{
        width: 50px;
    }
    .riicbody{
        flex-wrap: wrap;
        justify-content: center;
    }
    .riic-desc{
        padding:0px
    }
}