
#reliclist{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}
.relic-box{
    display: inline-flex;
    margin: 5px;
    border-radius: 6px;
    background-color: #333;
    flex-direction: column;
    width: 160px;
}
.relic-title{
    color:#aaa;
    font-weight: bold;
    font-size: 14px;
    min-height: 50px;
    align-content: center;
    vertical-align: middle;
}

.relic-imagebox{
    width: 160px;
    text-align: center;
    display: inline-flex;
    margin: auto;
    background-color: #222;
}

.relic-effect{
    padding:6px 0px;
    vertical-align: top;
    color:#888;
    font-size: 12px;
    height: 100%;
}

.relic-rarity{
    border-bottom: 2px solid;
    padding-bottom: 2px;
}
.relic-rarity-NORMAL{
    border-color:#ddd;
}
.relic-rarity-RARE{
    border-color:#3ad;
}
.relic-rarity-SUPER_RARE{
    border-color:#EA2;
}

@media screen and (max-width:768px) {
    .storyimagecontainer{
        width:100%;
    }

    /* .mainmap{
        padding:30px;
    }
    .tile{
        width:30px;
        height:30px;
    }
    .tilebg{
        width:30px;
        height:30px;
        
    }
    .tile-bg img{
        width:30px;
        height:30px;
    }
    .tile-img{
        width: 30px;
        height: 30px;
    }
    
    .grass {
        width: 30px;
        height: 10px;
    } */
}
