/* css file for arknight github calculator */

#story{
    width:100%;
    text-align:center;
}
#story img{
    max-width:600px;
    width:100%
}
@media screen and (max-width:768px) {
    #story img{
        width:100%;
    }
}
