/* css file for arknight github calculator */

#story{
    width:100%;
    text-align:center;
}
.storyimagecontainer{
    width:100%;
    text-align:center;
}
.storyimagecontainer img{
    max-width:900px;
    width:100%;
}

.storyheader{
    background:#555;
    font-size:17px;
    padding:4px;
    text-align:center;
    width:100%;
    cursor: default;
    margin-bottom:2px
}

.storybutton {
    background:#444;
    font-size:17px;
    padding:4px;
    text-align:center;
    width:100%;
    cursor: pointer;
    margin-bottom:2px
}

.storybutton:hover {
    background:#333;
}

.storybutton:active {
    background:#555;
}
.storyfootbutton{
    display:inline-block;
    width: 45%;
    height:70px;
    vertical-align: middle ;
}

.footleft{
    margin-left:10px
}
.footright{
    margin-right:10px
}
@media screen and (max-width:768px) {
    .storyimagecontainer{
        width:100%;
    }
}
